<!--
  NAME- ANANTIKA SRIVASTAVA
  REG NO-201800619
  5TH SEMESTER
  SECTION- C
  LAB WORK 1
-->
<!DOCTYPE html>
<html>
 <head>
  <title>Resume</title>
 </head>
 <body>
 <!--HEADING AND BOLD TEXT-->
  <h1><b>ANANTIKA SRIVASTAVA</b></h1>
  <!--IMAGE-->
  <img src="https://cdn.pixabay.com/photo/2017/01/30/23/52/female-2022387_960_720.png" alt="my pic" width="200px" height="200px">
  <h2>INFO</h2>
  <!--PARAGRAPH-->
  <p>I study in Sikkim Manipal Institute Of Technology.
      <!--BREAK LINE-->
      I am a 3rd year Computer Science student.<br>
      My experiences ranges from Python,Java,C++,Data Structure and Web Designing.<br>
      As a Designer I believe in imagining,experimenting and creating an experience that caters to the user's needs.<br>
      I have a passion for an organized workflow, designing visual languages, and solving complex problems.
  </p>
  <h2>SKILLS</h2>
  <!--unordered_list-->
  <ul>
    <li>Problem Solving</li>
    <li>Leadership Skills</li>
    <li>Communication Skills</li>
    <li>Time Management</li>
    <li>Adaptability</li>
    <li>Multitasking</li>
  </ul>
  <h2>EDUCATION</h2>
  <!--TABLE-->
  <table border=3px width=60%>
    <tr>
      <th>Name Of Institution</th>
      <th>Course</th>
      <th>Year Of Joining</th>
      <th>Year Of Passing</th>
    </tr>
    <tr>
      <td>Sacred Heart School</td>
      <td>10th</td>
      <td>2008</td>
      <td>2016</td>
    </tr>
    <tr>
      <td>Bridgeford School</td>
      <td>12th</td>
      <td>2016</td>
      <td>2018</td>
    </tr>
    <tr>
      <td>Sikkim Manipal Institute Of Technology</td>
      <td>Btech</td>
      <td>2018</td>
      <td>Ongoing</td>
    </tr>
  </table>
  <!--LINK-->
  <a href="http://pixabay.com/">More About Me.</a>
 </body> 
</html>